


{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Full Screen background image</title>

	<style type="text/css">
		
		body{
			background-image:url('https://mypredictionmodels.s3.ap-south-1.amazonaws.com/624111.jpg') ;
			background-size: cover;
			background-attachment: fixed;
		}

		.content{
			background: white;
			width: 70%;
			padding: 40px;
			margin: 100px auto;
			font-family: calibri;
			border-radius: 10px;
			
		}

		p{
			font-size: 25px;
			color: blue;
		}
		h1{
			text-align: center;
		}

	</style>
</head>
<body>

	<div class="content">
		<h1> OUR MISSION</h1>
			 
			 
		<p>
		 Our mission is to help the health sectors specially Doctors and Patients to Predict the disease at the earliest.
		 Right Now We have 3 Models for Prediction i.e Diabetes Prediciton, Heart Disease Prediction and COVID-19 Prediction.
		 We will be creating more prediction models in future for other diseases.
		 
		 
		  </p>
	
		  
			 
		</div>
	
  
</body>
</html>



{% endblock content %}
