


{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>Full Screen background image</title>

	<style type="text/css">
		
		body{
			background-image:url('https://mypredictionmodels.s3.ap-south-1.amazonaws.com/624111.jpg') ;
			background-size: cover;
			background-attachment: fixed;
		}

		.content{
			background: white;
			width: 70%;
			padding: 40px;
			margin: 100px auto;
			font-family: calibri;
			border-radius: 10px;
			
		}

		p{
			font-size: 25px;
			color: blue;
		}
		h1{
			text-align: center;
		}

	</style>
</head>
<body>

	<div class="content">
		<h1> OUR MISSION</h1>
			 
			 
		<p>
		 Our mission is to help the health sectors specially Doctors and Patients to Predict the disease at the earliest.
		 Right Now We have 2 Models for Prediction i.e Diabetes Prediciton and COVID-19 Prediction.
		 We will be creating more prediction models in future for other diseases.
		 
		 
		  </p>
	
		  <p>The human population is growing, requiring more space for food production, and needing more animals to feed it. Emerging infectious diseases are increasing, causing losses in both human and animal lives, as well as large costs to society. Many factors are contributing to disease emergence, including climate change, globalization and urbanization, and most of these factors are to some extent caused by humans. Pathogens may be more or less prone to emergence in themselves, and rapidly mutating viruses are more common among the emerging pathogens. The climate-sensitive vector-borne diseases are likely to be emerging due to climate changes and environmental changes, such as increased irrigation.</p>
		
			<p> Go to Disease Prediciton Dropdown Menu to Predcit the Disease.</p>  
			 
		</div>
	
  
</body>
</html>



{% endblock content %}
